<ion-header>
    <ion-toolbar>
        <ion-img class='icono' src='assets/icono_super.png'></ion-img>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>detalleArticulo</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="det">
    <ion-img [src]=""></ion-img>
    <ion-title>{{detallesArticulo[0].nombre}} </ion-title>
    <ion-title>Cantidad: {{detallesArticulo[0].cantidad}}</ion-title>
    <ion-title>Precio: {{detallesArticulo[0].precio}}</ion-title>
    <ion-title>Descricion: {{detallesArticulo[0].descripccion}}</ion-title>
    <ion-title>Cantidad disponible: {{detallesArticulo[0].cantidad}}</ion-title>

    <button (click)="agregarAlCarrito()" class="btn btn-success">Agregar</button>
</ion-content>