<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color: rgb(39, 13, 31);">
      Shopping App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let category of Categories" id="cardItmes" class="card mt-3 mb-3" style="width: 18rem; margin: auto;">
    <img src={{category.Image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{category.Name}}</h5>
      <a class="btn btn-success" (click)="openModal(category)">View Items</a>
    </div>
  </div>


  <div id="itemsModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{Type}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ajlsdhncjksn</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  

</ion-content>









