<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let category of Categories" id="cardItmes" class="card mt-3 mb-3" style="width: 18rem; margin: auto;">
    <img src={{category.Image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{category.Name}}</h5>
      <a class="btn btn-success" (click)="openModal(category)">View Items</a>
    </div>
  </div>

</ion-content>









