<ion-header [translucent]="true">
</ion-header>
<ion-toolbar>
    <ion-title>
        Menu
        <ion-img class='icono' src='assets/icono_super.png'></ion-img>
    </ion-title>
    <ion-input class="form-control mr-sm-2" #busqueda></ion-input>
    <button [routerLink]="['/busqueda',busqueda.value]" class="btn btn-success">Buscar</button>
    <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="categoria" placeholder="seleccione categoria">
            <ion-select-option *ngFor="let cate of Categories">{{cate.Name}} </ion-select-option>
        </ion-select>
        <button [routerLink]="['/categoria',categoria]" class="btn btn-success">Filtrar</button>

    </ion-item>
</ion-toolbar>
<ion-content [fullscreen]="true">
    <ion-title>Productos</ion-title>
    <ion-list>
        <ion-item [routerLink]="['/detalle-articulo',produ.nombre]" *ngFor="let produ of productos">
            <ion-avatar>
                <img [src]="produ.imagen" />
            </ion-avatar>
            <ion-title>
                {{produ.nombre}}
            </ion-title>
        </ion-item>
    </ion-list>

</ion-content>