<ion-header>
    <ion-toolbar>

        <ion-title>
            <ion-img class='icono' src='assets/icono_super.png'></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-list>
        <ion-item>
            <ion-input type="text" [(ngModel)]="empleado_select" >
                <ion-button (click)="eliminarEmpleado()"  size="small"
              >Eliminar</ion-button></ion-input>
            
          </ion-item>
        <ion-item *ngFor="let empleado of empleados" [routerLink]="['/moificar-empleado',empleado.id]">
            <ion-avatar slot="start">
                <img src="assets/user_icono.png" alt="">
            </ion-avatar>
            <ion-label>
                <h1>{{empleado?.nombre}} {{empleado?.apellido}}</h1>

            </ion-label>
        </ion-item>
    </ion-list>
    <ion-button class="btn btn-success" expand="block" [routerLink]="['/agregar-empleado']">Agregar empleado</ion-button>
</ion-content>