<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-img class='icono' src='assets/icono_super.png'></ion-img>
      <ion-title>
          Ordenes 
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor ="let orden of ordenes" >
      <ion-label>
        CAMBIAR LO QUE LLAMA AL SERVICIO
        {{orden.fecha}}
        {{orden.nombre}} 
        {{orden.apellido}}
        {{orden.precioTotal}}
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
