<ion-header><ion-toolbar>
  <ion-buttons>
    <ion-back-button defaultHref="tabs-empleados/listaEmpleado" >
    </ion-back-button>
    <ion-img class='icono' src='assets/icono_super.png'></ion-img>
  </ion-buttons>
</ion-toolbar></ion-header>

<ion-content>
  <ion-title class="ion-text-center">Agregar empleado</ion-title>

<form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
      
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellido" name="apellido"></ion-input>

      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="correo" name="correo"></ion-input>

      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario" name="usuario"></ion-input>

      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="contra" name="contra"></ion-input>

      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="number" [(ngModel)]="ced" name="ced"></ion-input>

      <ion-label position="floating">Dirección Física</ion-label>
      <ion-input type="text" [(ngModel)]="dir" name="dir"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="btn btn-success" expand="block" type="submit" 
  [disabled] = "formulario.invalid" [routerLink]="['/tabs-empleados/listaEmpleado']">Agregar</ion-button>
</form>
</ion-content>