<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="listaEmpleado">
            <i class="fas fa-bars"></i>
            <ion-label>Lista</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="productosEmpleado">
            <i class="fas fa-boxes"></i>
            <ion-label>Productos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ordenesEmpleado">
            <i class="fas fa-shopping-cart"></i>
            <ion-label>Ordenes</ion-label>
        </ion-tab-button>


    </ion-tab-bar>

</ion-tabs>